localhost {
	# comment these out for production
	# handle {
	# 	root * ./site
	# 	file_server
	# 	try_files {path} /index.html
	# }

	handle  {
		reverse_proxy http://localhost:5173
	}

	handle_path /pb* {
		reverse_proxy http://localhost:8090
	}
}
